// Typography
$font-family-header: 'Ubuntu', sans-serif;
$font-family-body: 'Roboto', sans-serif;

// Spacing
$spacing: (
  "xxs": 2px,
  "xs": 4px,
  "s": 8px,
  "m": 16px,
  "l": 32px,
  "xl": 64px,
);

$fontSizes: (
  "xxs": 8px,
  "xs": 10px,
  "s": 12px,
  "m": 14px,
  "l": 18px,
  "xl": 24px,
);

// Site Colours
$background-colour-h:	210;
$background-colour-s:	4%;
$background-colour-l:	91%;
$background-colour: hsl($background-colour-h, $background-colour-s, $background-colour-l);
$background-colour-dark: hsl($background-colour-h, $background-colour-s, calc(#{$background-colour-l} * .2));

$container-colour-h: 210;
$container-colour-s: 8%;
$container-colour-l: 95%;
$container-colour: hsl($container-colour-h, $container-colour-s, $container-colour-l);
$container-colour-dark: hsl($container-colour-h, $container-colour-s, calc(#{$container-colour-l} * .1));

$font-colour-h: 0;
$font-colour-s: 0%;
$font-colour-l: 20%;
$font-colour: hsl($font-colour-h, $font-colour-s, $font-colour-l);
$font-colour-dark: hsl($container-colour-h, $container-colour-s, $container-colour-l);

// Theme Colours
$primary-colour-h: 217;
$primary-colour-s: 96%;
$primary-colour-l: 11%;
$primary-colour: hsl($primary-colour-h, $primary-colour-s, $primary-colour-l);

$secondary-colour-h: 145;
$secondary-colour-s: 71%;
$secondary-colour-l: 47%;
$secondary-colour: hsl($secondary-colour-h, $secondary-colour-s, $secondary-colour-l);

$highlight-colour-h: 30;
$highlight-colour-s: 100%;
$highlight-colour-l: 53%;
$highlight-colour: hsl($highlight-colour-h, $highlight-colour-s, $highlight-colour-l);

// Status Colours
$success-colour-h: 116;
$success-colour-s: 46%;
$success-colour-l: 49%;
$success-colour: hsl($success-colour-h, $success-colour-s, $success-colour-l);

$warning-colour-h: 24;
$warning-colour-s: 100%;
$warning-colour-l: 50%;
$warning-colour: hsl($warning-colour-h, $warning-colour-s, $warning-colour-l);

$danger-colour-h: 0;
$danger-colour-s: 100%;
$danger-colour-l: 27%;
$danger-colour: hsl($danger-colour-h, $danger-colour-s, $danger-colour-l);

// Global sizes
$nav-height: 50px;
$site-max-width: 1500px;