@charset 'utf-8';
@import "abstracts/__abstracts-dir";

:root {
  /* IMAGES */
  --logo: url('/img/logo.png');

  /* SITE CONTAINER COLOURS */
  --background-colour: hsl(#{$background-colour-h}, #{$background-colour-s}, #{$background-colour-l});
  --container-colour: hsl(#{$container-colour-h}, #{$container-colour-s}, #{$container-colour-l});
  --font-colour: hsl(#{$font-colour-h}, #{$font-colour-s}, #{$font-colour-l});

  /* THEME COLOURS */
  --primary-colour: hsl(#{$primary-colour-h}, #{$primary-colour-s}, #{$primary-colour-l});
  --secondary-colour: hsl(#{$secondary-colour-h}, #{$secondary-colour-s}, #{$secondary-colour-l});
  --highlight-colour: hsl(#{$highlight-colour-h}, #{$highlight-colour-s}, #{$highlight-colour-l});

  /* STATUS COLOURS */
  --success-colour: hsl(#{$success-colour-h}, #{$success-colour-s}, #{$success-colour-l});
  --warning-colour: hsl(#{$warning-colour-h}, #{$warning-colour-s}, #{$warning-colour-l});
  --danger-colour: hsl(#{$danger-colour-h}, #{$danger-colour-s}, #{$danger-colour-l});
}

@media (prefers-color-scheme: dark) {
  :root {
    /* IMAGES */
    --logo: url('/img/logo_dark.png');

    /* SITE CONTAINER COLOURS */
    --background-colour: hsl(#{$background-colour-h}, #{$background-colour-s}, calc(#{$background-colour-l} * .2));
    --container-colour: hsl(#{$container-colour-h}, #{$container-colour-s}, calc(#{$container-colour-l} * .1));
    --font-colour: hsl(#{$container-colour-h}, #{$container-colour-s}, #{$container-colour-l});

    /* THEME COLOURS */
    --primary-colour: hsl(#{$primary-colour-h}, #{$primary-colour-s}, #{$primary-colour-l});
    --secondary-colour: hsl(#{$secondary-colour-h}, #{$secondary-colour-s}, #{$secondary-colour-l});
    --highlight-colour: hsl(#{$highlight-colour-h}, #{$highlight-colour-s}, #{$highlight-colour-l});

    /* STATUS COLOURS */
    --success-colour: hsl(#{$success-colour-h}, #{$success-colour-s}, #{$success-colour-l});
    --warning-colour: hsl(#{$warning-colour-h}, #{$warning-colour-s}, #{$warning-colour-l});
    --danger-colour: hsl(#{$danger-colour-h}, #{$danger-colour-s}, #{$danger-colour-l});
  }
}

[data-theme='light'] {
  /* IMAGES */
  --logo: url('/img/logo.png');

  /* SITE CONTAINER COLOURS */
  --background-colour: hsl(#{$background-colour-h}, #{$background-colour-s}, #{$background-colour-l});
  --container-colour: hsl(#{$container-colour-h}, #{$container-colour-s}, #{$container-colour-l});
  --font-colour: hsl(#{$font-colour-h}, #{$font-colour-s}, #{$font-colour-l});

  /* THEME COLOURS */
  --primary-colour: hsl(#{$primary-colour-h}, #{$primary-colour-s}, #{$primary-colour-l});
  --secondary-colour: hsl(#{$secondary-colour-h}, #{$secondary-colour-s}, #{$secondary-colour-l});
  --highlight-colour: hsl(#{$highlight-colour-h}, #{$highlight-colour-s}, #{$highlight-colour-l});

  /* STATUS COLOURS */
  --success-colour: hsl(#{$success-colour-h}, #{$success-colour-s}, #{$success-colour-l});
  --warning-colour: hsl(#{$warning-colour-h}, #{$warning-colour-s}, #{$warning-colour-l});
  --danger-colour: hsl(#{$danger-colour-h}, #{$danger-colour-s}, #{$danger-colour-l});
}

[data-theme='dark'] {
  /* IMAGES */
  --logo: url('/img/logo_dark.png');

  /* SITE CONTAINER COLOURS */
  --background-colour: hsla(#{$background-colour-h}, #{$background-colour-s}, calc(#{$background-colour-l} * .2));
  --container-colour: hsl(#{$container-colour-h}, #{$container-colour-s}, calc(#{$container-colour-l} * .1));
  --font-colour: hsl(#{$container-colour-h}, #{$container-colour-s}, #{$container-colour-l});

  /* THEME COLOURS */
  --primary-colour: hsl(#{$primary-colour-h}, #{$primary-colour-s}, #{$primary-colour-l});
  --secondary-colour: hsl(#{$secondary-colour-h}, #{$secondary-colour-s}, #{$secondary-colour-l});
  --highlight-colour: hsl(#{$highlight-colour-h}, #{$highlight-colour-s}, #{$highlight-colour-l});

  /* STATUS COLOURS */
  --success-colour: hsl(#{$success-colour-h}, #{$success-colour-s}, #{$success-colour-l});
  --warning-colour: hsl(#{$warning-colour-h}, #{$warning-colour-s}, #{$warning-colour-l});
  --danger-colour: hsl(#{$danger-colour-h}, #{$danger-colour-s}, #{$danger-colour-l});
}

[v-cloak] {
  display: none;
  visibility: none;
  opacity: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html,
textarea {
  font-family: $font-family-body;
  font-size: 62.5%;
  @include rem(word-spacing, 2px);

  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
  padding: 0;
  margin: 0;
  width: 100%;
  @include rem(min-width, 320px);

  overflow-x: auto;
  color: var(--font-colour);
  background-color: var(--background-colour);
}
